@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  background-color: #212121; 
  scroll-behavior: smooth;
}
/* Typewriter Effect */
@layer utilities {
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  
    @keyframes cursor {
      50% {
        border-color: transparent;
      }
    }
  
    .animate-typing {
      animation: typing 3.5s steps(40, end), cursor 0.75s step-end infinite;
      width: 100%;
    }
  }

  /* Flashcards */
.perspective {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.rotateX-180 {
  transform: rotateX(180deg);
}
  