@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  background-color: #212121; 
  scroll-behavior: smooth;
}
@layer utilities {
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  
    @keyframes cursor {
      50% {
        border-color: transparent;
      }
    }
  
    .animate-typing {
      animation: typing 3.5s steps(40, end), cursor 0.75s step-end infinite;
      width: 100%;
    }
  }